@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  border-radius: 3px;
  padding-right: 2px;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #64748b;
  background-clip: padding-box;
  border-radius: 3px;
  height: 50px;
}
